@if (lessonToDisplay) {
  <div id="lesson-body">
      <h1 class="big-title">{{ lessonToDisplay.title }}</h1>

      <div id="cours" class="lesson-content">
        <markdown
          ngPreserveWhitespaces
          emoji
          katex
          [data]="lessonToDisplay.content"
        />
      </div>

      @if (lessonToDisplay.exercices && lessonToDisplay.exercices.length > 0) {
        <h1 id="exercices" class="big-title">Exercices</h1>
      }

      <div id="exo-container">
        @for (exercice of lessonToDisplay.exercices; track exercice.id) {
          <app-exo-display [exercice]="exercice"></app-exo-display>
        }
      </div>
    </div>
} @else {
  <div class="lesson-body">
    <div class="loading">
      Loading lesson content...
    </div>
  </div>
}